<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contacto.css">
    <script src="https://kit.fontawesome.com/2811698395.js" crossorigin="anonymous"></script>
</head>

<body>

    <div>
        <%- include('./componentes/menu.ejs'); %>
    </div>

    <section class="section-form">
        <h2>CONTACTAME </h2>
        <div class="todo">
            <div class="ab">
                <h2>Mas sobre Mi</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                    explicabo et rem maxime, quibusdam delectus nobis vitae perspiciatis
                    distinctio facilis, itaque magni ipsa minus,
                    illum sapiente praesentium deleniti consequuntur. Quaerat.
                </p>
                <i class="fa-brands fa-whatsapp" style="color: #46e30d; font-size: 35px;"></i>
                <h3>123456789</h3><br>
                <i class="fa-brands fa-github-alt" style="color: #125bd9; font-size: 35px;"></i>
                <h3>bldm147</h3>
            </div>


            <div class="contenido-form">
                
                <div class="formulario">

                    <form>
                        <div class="valores">
                            
                            <input type="text" id="nombre" name="nombre" placeholder="Nombre"><br><br>
                        </div>
                        <div class="valores">
                            
                            <input type="email" id="email" name="email" placeholder="Email"><br><br>
                        </div>

                        <div>
                            <button>Enviar</button>
                        </div>
                      
                        
                    </form>

                </div>

            </div>


        </div>

    </section>
    <section class="fo">
        <footer>

            <h4>Desarrollado por Bladimir </h4>
            <h5>2023</h5>

        </footer>

    </section>





</body>

</html>