<!DOCTYPE html>
<html>
<head>
  <title>Portafolio</title>
  <link rel="stylesheet" href="/css/style.css">
  <%- include('./componentes/bootstrap.ejs'); %>
</head>
<body>
    <div class="todo">

        <section class="section-cabezera">
            <header>
           
                <%- include('./componentes/menu.ejs'); %>                 
            </header>

            <div class="banner">
              
              <video src="/images/the-knight-hollow-knight-8k-live-wallpaper.mp4" autoplay></video>
              <div class="welcome">
                <h1>Diseñador y Desarrollador de Software</h1>
                <br>
                <h2>Soy <strong style="color: rgb(19, 231, 19);">Bladimir</strong> ,  me dedico al desarrollo y manteneimento de pagians web </h2>
              </div>
              
            </div>
        </section>







    </div>

    




  <script src="/js/main.js"></script>
</body>
</html>
