<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/menu.css">
</head>
<body>

  <div class="caja-menu">

    <div class="titulo">
      <img src="https://c4.wallpaperflare.com/wallpaper/596/53/252/spider-man-the-amazing-spider-man-logo-red-wallpaper-thumb.jpg" alt="Logo">
      <div class="nombre">
        <h2><a href="/">Bldm</a></h2>
      </div>
    </div>

    <div class="lista-menu">
        <ul class="lista-categoria">
          <li><a href="/habilidades">Habilidades</a> </li>
          <li><a href="/contactos">Contactos</a></li>
          <li><a href="">Proyectos</a></li>
          <li><a href="">Sobre mi</a></li>
          <li><a href="">Tecnologias</a></li>
        </ul>
    </div>

  </div>
</body>

</html>